<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="pages/main/main.css" rel="stylesheet" />

    <title>Documentation</title>
</head>
<body>

    <nav>
        <div class="container">
            <div class="navbar">
                <div class="logo"> <a href="/"> <img src="../../images/logo1.jpg" alt=""></a> </div>
                <ul class="menu">
                    <a href="/intro" class="menu__item-link">Intro</a>
                    <a href="/install-nodejs" class="menu__item-link">Install NodeJS</a>
                    <a href="/setup" class="menu__item-link">Project Setup</a>
                    <a href="" class="menu__item-link">Terminal commands</a>
                    <a href="" class="menu__item-link">Code snippets</a>
                    <a href="" class="menu__item-link">Others</a>
                </ul>
            </div>
        </div>
    </nav>
